[Unit]
Description=Deployable Policy Engine
Wants=pcloud-vmlauncher.service

[Service]
WorkingDirectory=/var/lib/pacemaker-cloud
StandardOutput=null
StandardError=null
ExecStart=/usr/sbin/dped -v %i
ExecReload=/bin/kill -HUP $MAINPID
Type=simple
TimeoutSec=5
Restart=on-abort
