[Unit]
Description=Deployable Policy Engine
Requires=pcmkc-vmlauncher.service

[Service]
WorkingDirectory=/var/lib/pacemaker-cloud
ExecStart=/usr/sbin/dped -v %i
Type=simple
TimeoutSec=5
Restart=on-abort
