[Unit]
Description=VM Launcher
Requires=pcmkc-qpidd.service
After=pcmkc-qpidd.service
WorkingDirectory=/var/lib/pacemaker-cloud

[Service]
ExecStart=/usr/bin/vmlauncher
Type=simple
