[Unit]
Description=Cloud Policy Engine
After=pcmkc-qpidd.service

[Service]
WorkingDirectory=/var/lib/pacemaker-cloud
ExecStart=/usr/sbin/cped -v
Type=simple

[Install]
WantedBy=multi-user.target
