[Unit]
Description=qpidd for pacemaker-cloud

[Service]
ExecStart=/usr/sbin/qpidd --auth no -p 49000 --no-data-dir
Type=simple
User=qpidd
Group=qpidd
